/MarketplaceWizardCommand$1.class
/MarketplaceWizardCommand$2.class
/MarketplaceWizardCommand$3.class
/MarketplaceWizardCommand$4.class
/MarketplaceWizardCommand$5.class
/MarketplaceWizardCommand.class
/Messages.class
