/AddDependencyOperation.class
/AddExclusionOperation.class
/ChangeCreator$LineComparator.class
/ChangeCreator.class
/LifecycleMappingOperation.class
/PomEdits$1.class
/PomEdits$2.class
/PomEdits$3.class
/PomEdits$4.class
/PomEdits$CompoundOperation.class
/PomEdits$Matcher.class
/PomEdits$Operation.class
/PomEdits$OperationTuple.class
/PomEdits.class
/PomHelper.class
/RemoveDependencyOperation.class
