/IMavenDiscovery.class
/M2EUIPluginActivator.class
/MavenImages.class
/MavenVersionDecorator$1.class
/MavenVersionDecorator.class
/Messages.class
/UpdateMavenProjectJob$1.class
/UpdateMavenProjectJob.class
